<style>
	.details {
		transition : transform 2s;
	}
 .details:hover{
   transform: translate(200,200);

 }
 .fuck { transition : transform 0.70s;
	 transform : scale(2)}
</style>
<div ng-controller="portateCtrl"></div>
<div class="card card-block">
<div class="text-xs-center">
	<div class="btn-group center-block">
		<label for="dropdownMenu1">Scegli categoria...</label>
		<button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="dropdownMenu1">
		    {{selected }}
			<span class="caret"></span>

		</button>
		         <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                   <li ng-repeat="i in categorie"><a ng-click="dropdownItemSelected(i)">{{i}}</a></li>
                 </ul>
               </div>
	</div>
</div>

<div class="card">
	<div class="card-block">
	<h2 class="p-y-1 text-xs-center">{{selected}}</h2>
		<div class="table-responsive">
			<table class="table table-inverse table-bordered text-xs-center">
				<thead>
					<tr>
						<td>Nome</td>
						<td colspan='2'>&euro;</td>
						<td>Formato</td>
						<td>Extra</td>
						<td colspan="3">Prezzo</td>
						<td></td>
					</tr>
				</thead>

				<tbody >
					<tr ng-repeat="item in customers" >

					<td>{{item.nome}}</td>
					<td colspan='2'>{{item.prezzo}}</td>
					<td>
						<button  class="btn btn-primary action" ng-click="details(item.formati)" ><i class="fa fa-search">view details</i></button>
						
					</td>
					<td>{{item.extraNome}}</td>
					<td colspan="3">{{item.extraPrezzo}}</td>
					<td><a class='btn btn-secondary fa fa-edit' href="#admin?customerID={{item._id}}">edit</a></td>
					</tr>
				</tbody>
				</table>
			&nbsp;
		</div>
	</div>
</div>
